<tr class="athing comtr">
    <td>
        <table border="0">
            <tbody>
                <tr>
                    <td class="ind"><img src="s.gif" width="<%= num * 40 %>" height="1"></td>
                    <td class="votelinks" valign="top">
                        <center>
                            <%= link_to :controller => "vote_replies", :action => "create", :method => "post", :reply_id => current_reply.id, :user_id => current_reply.user_id do %>
                                <div class="votearrow" title="upvote"></div>
                            <% end %>
                        </center>    
                    </td>
                    <td class="default">
                        <div style="margin-top:2px; margin-bottom:-10px;">
                            <span class="comhead">
                                <%= link_to current_reply.user.username, :controller => "users", :action => "show", :id => current_reply.user_id %> 
                                <span class="age"><%= link_to current_reply.get_time %></span> 
                                <a class="togg" n="66">[–]</a>
                            </span>
                        </div>
                        <br>
                        <div class="comment">
                            <span class="commtext c00"><%= current_reply.text %>
                                <div class="reply">        
                                    <p><font size="1">
                                        <u><a href="#">reply</a></u>
                                    </p>
                                </div>
                            </span>
                        </div>
                    </td>          
                </tr>
            </tbody>
        </table>
    </td>
</tr>