<center>
  <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
    <tbody>
      <tr>
        <td bgcolor="#ff6600">
          <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="https://news.ycombinator.com">
                    <img src=<%=asset_path('y18.gif') %> style="border:1px white solid;" width="18" height="18">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;"><span class="pagetop"><b>Add Reply</b></span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title="Add Comment" style="height:10px"></tr>
      <tr>
        <td>
          <table class="fatitem" border="0">
            <tbody>
              <tr class="athing">    
                <td class="ind"></td>
                <%if @voted %>
                        <td class="votelinks" valign="top">
                        <%= link_to :controller => "vote_replies", :action => "unvote", :id => @reply.id do %>
                        <center><font color="#ff6600">*</font>
                        <img src="s.gif" width="1" height="1"></center>    
                    <% end %>
                    </td>
                    <% else %>
                        <td valign="top" class="votelinks"><center>
                        <%= link_to :controller => "vote_replies", :action => "upvote", :id => @reply.id do %>
                        <div class="votearrow" title="upvote"></div>
                        <% end %>
                        </center></td>
                    <%end%>
                <td class="votelinks" valign="top">
                  <center>
                    
                  </center>    
                </td>
                <td class="default">
                  <div style="margin-top:2px; margin-bottom:-10px;">
                    <span class="comhead">
                      <% if session[:username] and @reply.user.username == session[:username] %>
                          <%= link_to @reply.user do %>
                              <font color="#3c963c"><%= @reply.user.username %></font>
                          <%end%>
                      <% else %>
                          <%= link_to @reply.user.username, :controller => "users", :action => "show", :id => @reply.user %> 
                      <% end %>
                      <span class="age"><%= time_ago_in_words(@reply.created_at) + ' ago'%></span> 
                      <span class="par"> | <%=link_to 'parent', @reply.parent %></span> 
                      <span class="storyon"> | on: <%= link_to @reply.parent.getPost.title, @reply.getPost %></span>
                    </span>
                  </div>
                  <br>
                  <div class="comment">
                    <span class="commtext c00"><%= @reply.text %><div class="reply"></div></span>
                  </div>
                </td>
              </tr>
              <tr style="height:10px"></tr>
              <tr>
                <td colspan="2"></td>
                <td>
                  <%= render 'replies/form', reply: @newReply, parent: @reply %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</center>