
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tbody>
      <%=render 'header'%>
      <tr id="pagespace" title="" style="height:10px"></tr>
      
      <tr>
        <td>
          <table border="0" cellpadding="0" class="itemlist">
            <tbody>              
              <% @comments.each do |comment| %>
                <tr class="athing comtr">
                  <td>
                    <table border="0">
                      <tbody>
                        <tr>    
                          <td class="ind">
                            <img src="s.gif" width="0" height="1">
                          </td>
                          <td class="votelinks" valign="top">
                            <center><font color="#ff6600">*</font>
                            <br>
                            <img src="s.gif" width="14" height="1"></center>    
                          </td>
                          <td class="default">
                            <div style="margin-top:2px; margin-bottom:-10px;">
                              <span class="comhead">
                                <span class="score" id="score_26881997"><%= comment.votes.to_s%> point(s)</span> by 
                                <%= link_to comment.user do %>
                                  <font color="#3c963c"><%= comment.user.username %></font>
                                <%end%>
                                <span class="age"><%= link_to time_ago_in_words(comment.created_at) + ' ago' %></span> 
                                <span class="par"> | <%= link_to 'parent', comment.post %></span> 
                                <span class="storyon"> | on: <%= link_to comment.getPost.title, comment.getPost %></span>
                              </span>
                            </div>
                            <br>
                            <div class="comment">
                              <span class="commtext c00"><%=comment.text%></span>
                              <div class="reply">        
                                <p>
                                  <font size="1">
                                  <u><%= link_to 'reply', comment %></u>
                                  </font>
                                </p>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <%=render 'footer'%>
    </tbody>
  </table>
</center>