
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tbody>
      <tr>
        <td bgcolor="#ff6600">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tbody>
              <tr>
                <td style="width:18px;padding-right:4px"><a href="https://hacker-news-fib.herokuapp.com/"><img src=<%=asset_path('y18.gif') %> width="18" height="18" style="border:1px white solid;"></a></td>
                <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="/">Hacker News</a></b><a href="/newest">new</a> | <a href="/threads">threads</a> | <a href="/ask">ask</a> | <a href="/submit">submit</a> | <a><font color="#FFFFFF">  <%= @user.username %>  </font> comments</a></span></td>
                <td style="text-align:right;padding-right:4px;">
                  <% if session[:username] %>
                    <span class="pagetop"> <a href="/user/<%= session[:user_id]%>"><%= session[:username]%></a></span>
                    <span class="pagetop"><a href="logout">Logout</a></span>
             
                  <% else %>
                    <span class="pagetop">
                      <%= button_to '/auth/google_oauth2', class:"myClass" do %>
                        <div class="google-btn">
                          <div class="google-icon-wrapper">
                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                          </div>
                          <p class="btn-text"><b>Sign in with Google</b></p>
                        </div>
                      </div>
                      <%end%>
                    </span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title="" style="height:10px"></tr>
      <tr>
        <td>
          <table border="0" cellpadding="0" class="itemlist">
            <tbody>           
                <% @comments.each do |comment| %>
                <%= render 'comment_in_list', current_comment: comment %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <%= render 'footer' %>
    </tbody>
  </table>
</center>
