<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tbody>
      <tr>
        <td bgcolor="#ff6600">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tbody>
              <tr>
                <td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="/news">Hacker News</a></b><a href="/newest">new</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="/asks">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="/submit">submit</a></span></td>
                <td style="text-align:right;padding-right:4px;">
                  <% if session[:username] %>
                    <span class="pagetop"> <a href="/user/<%= session[:user_id]%>"><%= session[:username]%></a></span>
                    <span class="pagetop"><a href="/logout">Logout</a></span>
             
                  <% else %>
                    <span class="pagetop"><%= button_to "Log in with Google", '/auth/google_oauth2'  %></span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title="" style="height:10px"></tr>
        <tr id="pagespace" title="Profile: wanderingp" style="height:10px"></tr>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              
            </table>
            <%= form_with model: @user do |form| %>
              
              <table border="0">
                <tr class='athing'>
                  <td valign="top">user:</td>
                  <td timestamp="1618914348"><a href="/user/<%= @user.id %>" class="hnuser"><font color="#3c963c"><%= @user.username %></font></a></td>
                </tr>
                <tr>
                  <td valign="top">created:</td>
                <td><a><%= @user.created_at %></a></td>
                </tr>
                <tr>
                  <td valign="top">karma:</td>
                  <td>
                    1:hard coded 
                    
                  </td>
                </tr>
                <% if session[:username] and session[:user_id] == @user.id %>
                    <tr>
                  <td valign="top">about:</td>
                  <td style="overflow:hidden;">
                    <%= form.text_area :about, size: "40x7"%>
                    <font size="-2"><a href="formatdoc" tabindex="-1"><font color="#afafaf">help</font></a></font>          
                  </td>
                </tr>
             
                <% else %>
                <tr>
                  <td valign="top">about:</td>
                  <td valign="top"><%= @user.about %></td>
                </tr>
                <% end %>
                
                <tr>
                </tr>
                
                
                <tr>
                  <td></td>
                  <td><a href="/user/submissions/<%=@user.id%>"><u>submissions</u></a></td>
                </tr>
                <tr>
                  <td></td>
                  <td><a href="/user/comments/<%=@user.id%>"><u>comments</u></a></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <a href="/user/upvoted/<%=@user.id%>"><u>upvoted submissions</u></a>
                  </td>
                </tr>
              </table>
              <% if session[:user_id] == @user.id %>
                <br><%= form.submit %>
              <% end %>
            <% end %>
            <br><br>
          </td>
        </tr>
      </table>
    </center>
  </body>
  <script type='text/javascript' src='hn.js?CZk51y0z29TYBzr1LRkl'></script>
</html>