<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field helptitle">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-title" %>
  </div>

  <div class="field helpurl">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-url" %>
  </div>

  <div class="theor">
    <b>or</b>
  </div> 

  <div class="field helptext">
    <%= form.label :text %>
    <%= form.text_area :text,  size: "60x7", class: "form-text" %>
  </div>

  <div class="actions createpost">
    <%= form.submit %>
  </div>

  <p style="padding-left:30px">Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>
<% end %>
