<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form method="post" action="/r">>
                            </script>
                            <table border="0">
                                <tr>
                                  <div class="helptitle">
                                    <%= form.label :title %>
                                    <%= form.text_field :title, class: "form-title" %>
                                  </div>  
                                </tr>
                                <tr>
                                  <div class="helpurl">
                                    <%= form.label :url %>
                                    <%= form.text_field :url, class: "form-url" %>
                                  </div>  
                                  <div class="theor">
                                    <b>or</b>
                                  </div> 
                                </tr>
                                  
                                <tr>
                                  <div class="helptext">

                                    <%= form.label :text %>
                                    <%= form.text_field :text, class: "form-text" %>
                                  </div>
                                    
                                </tr>
                                <tr>

                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <div class="createpost">
                                      <%= form.submit %>
                                    </div>
                                  <% end %>
                                </tr>
                                <tr style="height:20px;"></tr>
                                <tr>

                                    <td></td>
                                    <td style="padding-left:30px">
                                        Leave url blank to submit a question for discussion. If there
         is no url, the text (if any) will appear at the top of the
         thread.<br>
                                    </td>
                                </tr>
                            </table>

                        </form>

  

  
  



