
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tbody>
      <%= render 'header' %>
      <tr id="pagespace" title="" style="height:10px"></tr>
      
      <tr>
        <td>
          <table border="0" cellpadding="0" class="itemlist">
<<<<<<< HEAD
            <tbody>
<<<<<<< HEAD
              
               <!--
              <%= #session[:id] = "2" %>
              <% #Post.where(user_id: session[:id]).each do |post| %>
              -->
=======
>>>>>>> bde6f91dc94b0386bd055ce245ca42bd5baf9488
              
              <% @posts.where(:typePost => 'url').order('posts.points DESC').each_with_index do |post, index| %>
                <tr class="athing" id="<%= post.id %>">
                  <td align="right" valign="top" class="title"><span class="rank"><%= index %>.</span></td>
                  <td valign="top" class="votelinks"><center><a id="up_<%= post.id %>" href="vote?id=<%= post.id %>&amp;how=up&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td>
                  <td class="title"><!--<a href="<%= post.url %>" class="storylink">--><%= post.title %><!--</a>--><span class="sitebit comhead"> <!--(<a href="from?site=fossil-scm.org"><span class="sitestr">fossil-scm.org</span></a>)--></span></td>
                </tr>
                <tr><td colspan="2"></td><td class="subtext">
                  <span class="score" id="score_<%= post.id %>"><%= post.points %> Points</span> by <%= link_to post.user.username, :controller => "users", :action => "show", :id => post.user %> <span class="age"><%= link_to post.get_time %></span> <span id="unv_<%= post.id %>"></span> | <a href="hide?id=<%= post.id %>&amp;goto=news">hide</a> | 
                  <% if post.comments.count != 0 %>
                    <%= link_to post.comments.count.to_s + ' comments', post %></td>
                  <% else %>
                    <%= link_to 'discuss', post %></td>
                  <% end %>
                </tr>
                <tr class="spacer" style="height:5px"></tr>
=======
            <tbody>           
              <% @posts.each_with_index do |post, index| %>
                <%= render 'post_in_list', post: post, index: index%>
>>>>>>> ce32d9571d46f6fa87afdaab93f49cc3bdecbae3
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <%= render 'footer' %>
    </tbody>
  </table>
</center>
