<%# link_to 'Edit', edit_post_path(@post)
link_to 'Back', posts_path %>


<%#Issues
	Always says by "user", not coded in.
	If no url is present, puts () instead of putting nothing.
	Currently shows date and hour in utc time, while hackernews says X hours/day/months or Date if more than a year old
	Doesnt have comments implemented%>


<html lang="en" op="item">
<head>
  <meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="news.css?kYAZqEBDkZ1yesLxUECv">
  <link rel="shortcut icon" href="favicon.ico">
  <title><%= @post.title%>| Hacker News</title>
</head>
<body>
  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <tr>
        <td bgcolor="#ff6600">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
            <tr>
              <td style="width:18px;padding-right:4px">
                <a href="https://news.ycombinator.com">
                  <img src="y18.gif" width="18" height="18" style="border:1px white solid;">
                </a>
              </td>
              <td style="line-height:12pt; height:10px;">
                <span class="pagetop">
                <b class="hnname"><a href="news">Hacker News</a></b>
                <a href="newest">new</a> | <a href="threads?id=wegraegrae">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a>            
                </span>
              </td>
              <td style="text-align:right;padding-right:4px;">
                <span class="pagetop">
                  <a id='me' href="user?id=wegraegrae">user</a>                (0) |
                  <a id='logout' href="logout?auth=615401cb3e6a4bbd007255c3a46cf21375ff167f&amp;goto=item%3Fid%3D26737771">logout</a>                          
                </span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr id="pagespace" title= <%= @post.title%> style="height:10px"></tr>
      <tr>
        <td>
          <table class="fatitem" border="0">
            <tr class='athing' id='26737771'>
              <td align="right" valign="top" class="title"><span class="rank"></span></td>      
              <td valign="top" class="votelinks">
                <center>
                  <a id='up_26737771' onclick='return vote(event, this, "up")' href='vote?id=26737771&amp;how=up&amp;auth=cc8be5c1c63ab2a4ba1425ace65fe41aa794b106&amp;goto=item%3Fid%3D26737771'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title"><a href="https://anthonynsimon.com/blog/one-man-saas-architecture/" class="storylink"><%= @post.title %></a><span class="sitebit comhead"> (<a href="from?site=anthonynsimon.com"><span class="sitestr"><%= @post.url %></span></a>)</span></td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score" id="score_26737771"><%=@post.points%> points</span> by <a href="user?id=ksahin" class="hnuser">user</a> 
                <span class="age"><a href="item?id=26737771"><%=@post.created_at%></a></span> 
                <span id="unv_26737771"></span> | <a href="hide?id=26737771&amp;auth=cc8be5c1c63ab2a4ba1425ace65fe41aa794b106&amp;goto=item%3Fid%3D26737771">hide</a> | <a href="https://hn.algolia.com/?query=The%20Architecture%20of%20a%20One-Man%20SaaS&type=story&dateRange=all&sort=byDate&storyText=false&prefix&page=0" class="hnpast">past</a> | <a href="fave?id=26737771&amp;auth=cc8be5c1c63ab2a4ba1425ace65fe41aa794b106">favorite</a> | <a href="item?id=26737771">0&nbsp;comments</a>
              </td>
            </tr>
            <tr style="height:10px"></tr>
            <tr><td colspan="2"></td>
            <td>
            	<%= @post.text %> <br><br>

              <small class="comment">
                  <%= render 'comments/form', comment: @comment %>
              </small>



