  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <%=render 'header' %>
      <tr id="pagespace" title=""></tr>
      <tr>
        <td>
          <table class="fatitem" border="0">
            <tr class='athing'>
              <td align="right" valign="top" class="title"><span class="rank"></span></td> 
                <center>
                      <%if @voted %>
                        <td class="votelinks" valign="top">
                        <%= link_to :controller => "vote_posts", :action => "unvote", :id => @post.id do %>
                        <center><font color="#ff6600">*</font>
                        <img src="s.gif" width="1" height="1"></center>    
                    <% end %>
                    </td>
                    <% else %>
                        <td valign="top" class="votelinks"><center>
                        <%= link_to :controller => "vote_posts", :action => "upvote", :id => @post.id do %>
                        <div class="votearrow" title="upvote"></div>
                        <% end %>
                        </center></td>
                    <%end%>
                        </center>
              </td>
              <td class="title">
                <% if @post.typePost == 'ask'%>
                  <%= link_to @post.title, @post, :class => "storylink"  %>
                <%else%>
                  <%= link_to "http://#{@post.url}", :class => "storylink" do %>
                    <%= @post.title %><span class="sitebit comhead"> (<span class="sitestr"><%=@post.url%></span>)</span>
                  <%end%>
                <%end%>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score"><%=@post.points%> points</span> by 
                <% if session[:username] and @post.user.username == session[:username] %>
                    <%= link_to @post.user do %>
                        <font color="#3c963c"><%= @post.user.username %></font>
                    <%end%>
                <% else %>
                    <%= link_to @post.user.username, :controller => "users", :action => "show", :id => @post.user %> 
                <% end %>
                <span class="age"><%= link_to time_ago_in_words(@post.created_at) + ' ago' %></span> | <%= link_to @post.comments.count.to_s + ' comments', @post %>
              </td>
            </tr>
            <tr><td colspan="2"></td>
            <td>
              <% if @post.typePost == 'ask'%>
            	<%= @post.text %> <br><br>
              <%end%>
              <small class="comment">
                  <%= render 'comments/form', comment: @comment %>
              </small>
            </td>
          </table>
          <table class="comment-tree" border ="0">
            <tbody>
              <% @post.comments.each do |comment| %>
                <%= render 'comments/show_in_post', current_comment: comment %>
                <%= current_comment.id %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <%=render 'footer' %>
    </table>
  </center>



