  <center>
    <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      <%=render 'header' %>
      <tr id="pagespace" title=""> style="height:10px"></tr>
      <tr>
        <td>
          <table class="fatitem" border="0">
            <tr class='athing'>
              <td align="right" valign="top" class="title"><span class="rank"></span></td>      
              <td valign="top" class="votelinks">
                <center>
                  <a href='#'>
                    <div class='votearrow' title='upvote'></div>
                  </a>
                </center>
              </td>
              <td class="title">
                <% if @post.typePost == 'ask'%>
                  <%= link_to @post.title, @post, :class => "storylink"  %>
                <%else%>
                  <%= link_to "http://#{@post.url}", :class => "storylink" do %>
                    <%= @post.title %><span class="sitebit comhead"> (<span class="sitestr"><%=@post.url%></span>)</span>
                  <%end%>
                <%end%>
              </td>
            </tr>
            <tr>
              <td colspan="2"></td>
              <td class="subtext">
                <span class="score"><%=@post.points%> points</span> by <%= link_to @comment.user.username %>
                <span class="age"><%= link_to @post.get_time %></span> | <%= link_to @post.comments.count.to_s + ' comments', @post %>
              </td>
            </tr>
            <tr><td colspan="2"></td>
            <td>
              <% if @post.typePost == 'ask'%>
            	<%= @post.text %> <br><br>
              <%end%>
              <small class="comment">
                  <%= render 'comments/form', comment: @comment %>
              </small>
            </td>
          </table>
          <table class="comment-tree" border ="0">
            <tbody>
              <% @post.comments.each do |comment| %>
                <%= render 'comments/show_in_post', current_comment: comment %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <%=render 'footer' %>
    </table>
  </center>



